@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

body {
    margin: 0;
    padding: auto;
    background-color: #1B244A;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
}

h1 {
    text-align: center;
}


button {
    font-size: 32px;
    background-color: transparent;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 8px;
}

button, .count {
    font-family: 'Cursed Timer ULiL', sans-serif;
}

.buttons {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

.container {
    display: flex;
    justify-content: space-evenly;  
}

.count {
    color: #F94F6D;
    background-color: #080001;
    font-size: 100px;
    text-align: center;
    padding: 50px;
    border-radius: 5px;
    width: 200px;
    margin: 0;
}
